<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @request.book_id %>
</p>

<p>
  <b>User:</b>
  <%= @request.user_id %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
