
<h1>Listing books</h1>

<% @books.each do |book| %>
  <div class='book'>
    <img src='<%= book.image_url %>' title='<%= book.title %>' alt='<%= book.title %>' /> <br />
    <%= link_to 'Show', book %>
    <%= link_to 'Edit', edit_book_path(book) %>
    <%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %>
    <br />
  </div>
<% end %>

<br />

<%= link_to 'New Book', new_book_path %>
