<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>User:</b>
  <%= @book.user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @book.location.name %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>
<p>
  <b>ASIN:</b>
  <%= @book.asin %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Back', books_path %>
