<!-- <p id="notice"><%= notice %></p> -->

<p class='details'>
  <b><%= @book.title %></b> by 
  <%= @book.author %>
</p>

<p class='details'>
  <b>Owner:</b>
  <%= @book.user.email %>
</p>

<p class='details'>
  <b>Borrower:</b>
  <% if can? :borrow, Book %>
    <% if @book.borrower_user_id == nil %>
      <% if !@book.location.public %>
        <% if @book.is_requested? %>
          Requested
        <% else %>
          <%= link_to 'Request this book', new_request_id_path(@book) %>
        <% end %>
      <% else %>
        <%= link_to 'Borrow', borrow_book_path(@book) %> 
      <% end %>
    <% else %>
      <%= User.find(@book.borrower_user_id).email %>
    <% end %>
  <% else %>
    <%= link_to 'Signup', new_user_registration_path() %> to borrow!
  <% end %>
</p>

<p class='details'>
  <b>Location:</b>
  <%= @book.location.name %>
</p>

<p class='details'>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p class='details'>
  <b>Lowest Used Price:</b>
  <%= @book.lowest_used_price %>
</p>

<p class='details'>
      <% if @book.borrower_user_id != nil %>
        <% buser = User.find(@book.borrower_user_id) %>
        <div class='book_borrowed details'>
          <%=  image_tag @book.image_url, :title => "#{buser.first_name} #{buser.last_name} is borrowing this book." %> 
      <% else %>
        <div class='book details'>
          <%= image_tag @book.image_url %> 
      <% end %>
      </div>
      <div style='clear: both;' />
</p>

<p class='details'>
  <%= link_to "View details & related books on Amazon", @book.details_url, :target => "_blank" %>
</p>
<br />
<% if can? :edit, Book %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>

<% if can? :return, Book  %>
  <% if @book.borrower_user_id == current_user.id %>
    <%= link_to 'Return', return_book_path(@book) %> |
  <% elsif !@book.location.public %>
    <% if !@book.is_requested? %>
      <%= link_to 'Request this book', new_request_id_path(@book) %> |
    <% end %>
  <% elsif @book.borrower_user_id == nil %>
    <%= link_to 'Borrow', borrow_book_path(@book) %> |
  <% end %>
<% end %>

<% if can? :destroy, Book %> 
  <% if @book.user_id == current_user.id %>
    <%= link_to 'Destroy', @book, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
<% end %>

<%= link_to 'Back', books_path %>
