<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b><%= @book.title %></b> by 
  <%= @book.author %>
</p>

<p>
  <b>Owner:</b>
  <%= @book.user.email %>
</p>

<p>
  <b>Borrower:</b>
  <% if can? :borrow, Book %>
  <% if @book.borrower_user_id == nil %>
    <%= link_to 'Borrow', borrow_book_path(@book) %> 
  <% else %>
    <%= User.find(@book.borrower_user_id).email %>
  <% end %>
  <% else %>
    <%= link_to 'Signup', new_user_registration_path() %> to borrow!
  <% end %>
</p>

<p>
  <b>Location:</b>
  <%= @book.location.name %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <%= image_tag @book.image_url, :title => @book.title, :alt => @book.title %> <br />
</p>

<p>
  <%= link_to "View details & related books on Amazon", @book.details_url, :target => "_blank" %>
</p>
<br />
<% if can? :edit, Book %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>

<% if can? :return, Book  %>
  <% if @book.borrower_user_id == current_user.id %>
    <%= link_to 'Return', return_book_path(@book) %> |
  <% elsif @book.borrower_user_id == nil %>
    <%= link_to 'Borrow', borrow_book_path(@book) %> |
  <% end %>
<% end %>

<% if can? :destroy, Book %> 
  <% if @book.user_id == current_user.id %>
    <%= link_to 'Destroy', @book, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
<% end %>

<%= link_to 'Back', books_path %>
