<p id="notice"><%= notice %></p>

<p>
  <b><%= @location.name %></b>
<% if can? :manage, Location %>
  <%= link_to 'Edit', edit_location_path(@location) %>
<% end %>
</p>

<% @location.books.each do |book| %>
  <%= render book %>
<% end %>

<div style="clear: both;" >
  <%= link_to 'Back', locations_path %>
</div>
