<!DOCTYPE html>
<html>
<head>
  <title>Bookshare</title>
  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag 'book' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrapper_one">
  <div id="wrapper_two">

    <div id="header">
      <%= link_to "Bookshare.me", "/" %>
    </div>  
    <%= render :partial => "shared/header" %>
    <br />
    <div id="column_1">
    </div>
    <div id="column_2">
    </div>
    <div id="main">
      <p class="notice"><%= notice %></p> 
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

  <%= render :partial => "shared/footer" %>

</div>

</body>
</html>
